<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Precio</th>
      <th scope="col">Esta activo?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for s in servicios %}
      <tr>
        <th scope="row">{{ s.id }}</th>
        <td>{{ s.nombre }}</td>
        <td>{{ s.descripcion }}</td>
        <td>{{ s.precio }}</td>
        <td>{{ s.activo }}</td>
        {% if p.is_active %}
          <td>
            <i class="fa-regular fa-thumbs-up" style="color: #57db83;"></i>
          </td>
        {% else %}
          <td>
            <i class="fa-regular fa-thumbs-down" style="color: #da1616;"></i>
          </td>
        {% endif %}
        <td>
          <a class="btn btn-danger" href="{% url 'person-delete' p.id %}">
            <i class="fa-sharp fa-solid fa-trash"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>