{% extends 'base.html' %}

{% block 'content' %}
	<div class="container-md">
		<br>
	</div>
	<div class="d-grid gap-2">
      <h1 align="center"> Modificación de Datos </h1>
    </div>
	<div class="container px-4 text-center">
	  <div class="row gx-5">
		<div class="col d-flex justify-content-center">
			<div class="card" style="width: 30rem;">
			  <div class="card-body">
				  <div class="d-flex justify-content-center">
                      <form action="#" method="post" class="col-6">
                            {% csrf_token %}

                            {{ form.as_p }}
                                <input class="btn btn-primary" type="submit" value="{{ submit_value }}">
                                <a href="{% url url_value %}" class="btn btn-warning text-white">Volver</a>
                        </form>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}

